*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding:1.5rem;
}

.drum-pad-container {
  border:solid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:2em;
  gap:1em;
  min-width: 0;
}

#display{
  font-size: 2rem;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  border:solid;
}

.drum-pad {
  background-color: grey;
  font-size: 1rem;
  padding:2em;
  flex: 1 0 7em;
}
@media screen and (min-width:800px) {
  .drum-pad {
    font-size: 1.5rem;
  }
}
.drum-pad:hover {
  cursor: pointer;
}