*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  /* background-color: #282c34; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#display {
  display: flex;
  justify-content: center;
  border:solid;
  flex-wrap: wrap;
  width:30%;
  gap:1em;
}

.drum-pad {
  background-color: grey;
  padding:3em;
}

.drum-pad:hover {
  cursor: pointer;
}